.k-dialog {
    min-width: 45em !important;
    max-width:60em !important;
}

.form-preview {
  label {
    font-size: 0.8em;
    position: relative;
    width: auto;
    height: auto;
}
  .k-textbox-container {
    padding-top: 0;
    padding-bottom: 0.5em;
    width: 100%;
  }
  .k-dropdown {
    width: 100%;
  }
}
